.gallery {
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}
.gallery__img {
  position: absolute;
  border-radius: 7.40681px;
  top: 36px;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .gallery__img {
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    height: 327px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__img {
    top: 86px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 24px;
  }
}
