*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, lvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

img,
svg {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  font-family: inherit;
  cursor: url("../images/cursor.png"), pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  cursor: url("../images/cursor.png"), pointer;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
