<section class="advantages">
  <div class="container">
    <h5 class="advantages__title visually-hidden">Advantages</h5>
    <ul class="benefits list">
      <li class="benefits__item">
        <p class="benefits__title">721</p>
        <p class="benefits__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__title">16kg</p>
        <p class="benefits__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="benefits__item">
        <p class="benefits__title">84</p>
        <p class="benefits__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
