<section class="contact-form container">
  <div class="contact__flex">
    <div class="contact__flex-box">
      <div class="contact-box">
        <h1 class="contact-title contact-title__first">CAFE</h1>
        <h2 class="contact-title__location">Chicago</h2>
        <a
          class="contact-map small-screen__1"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          10340 Ridgeland Ave,<br />Chicago Ridge, IL 60415, USA
        </a>
        <!-- <a
          class="contact-map large-screen__1"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          10340 Ridgeland Ave, Chicago<br />Ridge, IL 60415, USA
        </a> -->
        <hr />
        <h2 class="contact-day">Monday - Friday</h2>
        <p class="contact-time">06:00 AM - 10:00 PM</p>
        <h2 class="contact-day__wekend">Saturday - Sunday</h2>
        <p class="contact-time__wekend">08:00 AM - 16:00 PM</p>
        <hr />
        <ul>
          <li>
            <a class="contact-tel" href="tel:+61(0)383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="cotact-mail" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </div>
      <div class="contact-box">
        <h1 class="contact-title contact-title__second">FOOD TRUCK</h1>
        <h2 class="contact-title__location">Los Angeles</h2>
        <a
          class="contact-map small-screen__2"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          1003 Manhattan Ave, Manhattan <br />Beach, CA 90263, USA
        </a>
        <!-- <a
          class="contact-map large-screen__2"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          1003 Manhattan Ave, <br />
          Manhattan Beach, CA 90263, USA
        </a> -->
        <hr />
        <h2 class="contact-day">Monday - Friday</h2>
        <p class="contact-time">06:00 AM - 10:00 PM</p>
        <h2 class="contact-day__wekend">Saturday - Sunday</h2>
        <p class="contact-time__wekend">08:00 AM - 16:00 PM</p>
        <hr />
        <ul>
          <li>
            <a class="contact-tel" href="tel:+61(0)383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="cotact-mail" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </div>
      <div class="contact-box">
        <h1 class="contact-title contact-title__first">CAFE</h1>
        <h2 class="contact-title__location">New York</h2>
        <a
          class="contact-map small-screen__3"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          726 Sterling Pl, Brooklyn,<br />NY 11222, USA
        </a>
        <!-- <a
          class="contact-map medium-screen__3"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          726 Sterling Pl,<br />Brooklyn, NY 11222, USA
        </a>
        <a
          class="contact-map large-screen__3"
          href="https://goo.gl/maps/rZSRh2HZ69fcZuJMA"
        >
          726 Sterling Pl, Brooklyn, NY<br />11222, USA
        </a> -->
        <hr />
        <h2 class="contact-day">Monday - Friday</h2>
        <p class="contact-time">06:00 AM - 10:00 PM</p>
        <h2 class="contact-day__wekend">Saturday - Sunday</h2>
        <p class="contact-time__wekend">08:00 AM - 16:00 PM</p>
        <hr />
        <ul>
          <li>
            <a class="contact-tel" href="tel:+61(0)383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="cotact-mail" href="mailto:noreply@envato.com">
              noreply@envato.com
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contact-btn">
    <ul class="contact-button">
      <li>
        <button class="contact-btn__first" type="button">
          Our Locations&shy; &gt;
        </button>
      </li>
      <li>
        <button class="contact-btn__second" type="button">
          Franchise&shy; &gt;
        </button>
      </li>
    </ul>
  </div>
</section>
