<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our contacts</h2>
    <div class="contacts-wrapper">
    <ul class="address__list list">
      <li class="address__item">
        <p class="categori contacts-caption">CAFE</p></li>
      <li class="address__item">
        <p class="address__item-subtitle contacts-caption">Chicago</p>
      </li>
      <li class="address__item">
        <a href="https://goo.gl/maps/k2zF5h1WBQfWn2N47" class="address__link link" target="_blank"
        rel="noopener noreferrer"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </li></ul>
    <ul class="work-schedule">
      <li>
        <table class="table">
          <thead>
            <tr>
              <th>Monday</th>
              <th>-</th>
              <th>Friday</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>06:00 AM</td>
              <td>-</td>
              <td>10:00 PM</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <table class="table">
          <thead>
            <tr>
              <th>Saturday</th>
              <th>-</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>08:00 AM</td>
              <td>-</td>
              <td>16:00 PM</td>
            </tr>
          </tbody>
        </table>
      </li>
    </ul>
    <ul class="contacts__list list">
        <li class="contacts__item contact-phone"><a class="link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
        <li class="contacts__item contact-mail"><a class="link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </list></div>
    
  </div>
</section>

