<section class="morgen">
  <div class="morgen__emily">
    <img
      srcset="
        ./images/customer-reviews/Emily.png   1x,
        ./images/customer-reviews/Emily@2.png 2x
      "
      sizes="85px"
      src="./images/customer-reviews/Emily.png"
      alt="emily"
    />

    <div class="morgen__text">
      <p class="morgen__text--emily">
        I love visiting your cafe. You prepare the most delicious ice cream in
        Los Angeles! In addition, you have beautiful serving, cozy atmosphere
        and polite staff.
      </p>
    </div>
    <p class="morgen__text--los">Emily, Los Angeles</p>
  </div>
</section>
